- 
    var newsItems = [
        {itemNumber: '1', itemTitle : 'Banff National Park', itemText: 'Banff National Park lies in the heart of the majestic Rocky Mountains in the province of Alberta, and showcases some of Canada`s most beautiful scenery. Turquoise colored lakes, snow-capped peaks, and glaciers are all easily accessible ', user: '@thomasalva_adison'},
        {itemNumber: '2', itemTitle : 'The Hiroshima Peace!', itemText: 'It was formally opened to the public in August that year.', user: '@shova_bd88'},
        {itemNumber: '3', itemTitle : 'The faithful prayers!', itemText: 'A major pilgrimage center for Hindus, the holy city.', user: '@adem/smith'},
        {itemNumber: '4', itemTitle : 'Colourful waters!', itemText: 'Forest-driven water and energy cycles are poorly.', user: '@jhon7leew'}
    ]

mixin newsList (itemNumber, itemTitle, itemText, user)
    if itemNumber=='1'
        li.news-item_last
            img.news__img_last(src=`images/Blog${itemNumber}.png` alt=`${itemTitle}`)
            h4.item-title #{itemTitle}
            p.text-block.news__text_last #{itemText}
            .user-name #{user}
    else    
        li.news-item
            img.news__img(src=`images/Blog${itemNumber}.png` alt=`${itemTitle}`)
            h4.item-title #{itemTitle}
            p.text-block.news__text #{itemText}
            .user-name #{user}

section.section-white
    .section-container
        .information__holder
            h2 From Blog & News
            p.text-block.title-text.blog__title-text Welcome to Community Conversations, a new interview series featuring Intrepid travellers, creatives and activists in our community.
            ul.news-list
                each i in newsItems
                    +newsList(i.itemNumber, i.itemTitle, i.itemText, i.user)
                    